<html>
    <head>
        <title>Hello</title>
    </head>
    <body>
        <p>Hello Team <%= teamLetter %></p>
        <ul>
            <% teamMembers.forEach(ele => { %>
                <li><%= ele %></li>
            <% }); %>
        </ul>
    </body>
</html>